body {
  background-image: url(../img/Iris-góra.webp);
  color: #ff0000;
  font-family: "Gill Sans", sans-serif;
  text-align: center;
  background-size: 100%;
}

.desktop {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  position: absolute;

  width: 300px;
  padding: 20px;
  background-color: #333;
  border: 1px solid #ff0000;
  border-radius: 10px;
}

.login-form input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ff0000;
  border-radius: 5px;
}

.login-form button {
  width: 100%;
  padding: 5px;
  background-color: #00f;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

.window {
  width: 600px; 
  height: 400px; 
  margin: 250px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #000000;
  overflow: auto; 
}

.close:hover {
  background-color: #ddd;
}

.content {
  padding: 1px;
  overflow-y: auto; 
}

.window {
  width: 1200px; /* Zwiększona szerokość */
  height: 800px; /* Zwiększona wysokość */
  border: 1px solid #ccc;
  margin: 50px auto;
  background-color: #fff;
}

.title-bar {
  background-color: #eee;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: bold;
}

.close {
  background: none;
  border: none;
  cursor: pointer;
}

.content {
  padding: 20px;
  display: flex;
}

.strona {
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

.lewa {
  float: left;
}

.prawa {
  float: right;
}

.tytul {
  font-size: 24px; /* Zwiększony rozmiar czcionki tytułu */
  font-weight: bold;
  margin-bottom: 10px;
}

#text {
  color: #00ff00;
  font-family: monospace;
  font-size: 16px;
  background-color: #000000; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  overflow-y: auto; 
  padding: 10px;
}

#text div {
  margin-bottom: 5px;
  cursor: pointer;
}

.button {
  background-color: #ff0000; 
  color: #fff; 
  padding: 10px 20px; 
  text-decoration: none; 
  border-radius: 5px; 
  border: none; 
  font-weight: bold; 
  cursor: pointer; 
}

.button:hover { 
  background-color: #cc0000; 
}
